/* { ANIMATIONS }
/* =================================== */

@keyframes animationExample {
	0% {
		background white
	}
	100% {
		background black
	}
}

.element
	animation animationExample 1s 4 infinite ease-in-out