// =================================== // ===================================
// { FORMS }
// =================================== // ===================================

.form
	position relative
	.form__label
		text-transform uppercase
		font-size 12px
	.form__control
		width 100%
		pxtoem(padding, 2)
		border-radius 2px
		background darken(white,5%)
