// =================================== // ===================================
// { FLAT COLORS by http://flatuicolors.com/ }
// =================================== // ===================================

// Flat Teal
// -----------------------------------
flatTeal = 		#1abc9c;
flat-darkTeal = 	#16a085;

// Flat Green
// -----------------------------------
flatGreen = 		#2ecc71;
flat-darkGreen = 	#27ae60;

// Flat Blue
// -----------------------------------
flatBlue = 		#3498db;
flat-darkBlue = 	#2980b9;

// Flat Purple
// -----------------------------------
flatPurple = 		#9b59b6;
flat-darkPurple = 	#8e44ad;

// Flat Black
// -----------------------------------
flatBlack = 		#34495e;
flat-darkBlack = 	#2c3e50;

// Flat Yellow
// -----------------------------------
flatYellow = 		#f1c40f;
flat-darkYellow = 	#f39c12;

// Flat Orange
// -----------------------------------
flatOrange = 		#e67e22;
flat-darkOrange = 	#d35400;

// Flat Red
// -----------------------------------
flatRed = 			#e74c3c;
flat-darkRed = 	#c0392b;

// Flat White
// -----------------------------------
flatWhite = 		#ecf0f1;
flat-darkWhite = 	#bdc3c7;

// Flat Silver
// -----------------------------------
flatSilver = 		#95a5a6;
flat-darkSilver = 	#7f8c8d;
