//- Mixins

//- Navbar Mixin - Mixin para definir estrutura de navegação acessível e semântica.
include navbar

//- Searchbar Mixin - Mixin para campo de busca.
include searchbar

//- List Mixin - Mixin para listas.
include list

//- Article Mixin - Mixin para definir a estrutura de artigos acessíveis e semânticos.
include article

//- Formfield Mixin - Mixin para definir campos de formulário.
include formfield