// =================================== // ===================================
// { CONTAINER }
// =================================== // ===================================


.container
	width containerWidth
	max-width convertpxtoem(largeBp)
	margin 0 auto
	@extend .clearfix
