// =================================== // ===================================
// { FOOTER }
// =================================== // ===================================

.footer
	position relative
	@extend .clearfix
