// =================================== // ===================================
// { BASE }
// =================================== // ===================================

*,
*:before,
*:after
	content ""
	box-sizing border-box

html,
body
	color colorText;
	font-size 100%;

h1,
h2,
h3,
h4,
h5,
h6
	color colorHeading;

a
	color colorLink;
	transition color 0.6s
	&:hover,
	&:active,
	&:focus
		color lighten(colorLink,5%);

strong
	font-weight bold;
	color colorFeatured;
